
@{
    ViewBag.Title = "Education";
    Layout = "~/Views/_LayoutPage1.cshtml";
}
<link rel="stylesheet" href="~/css/style.css">


<div class="resp-tab-content" style="margin-top:180px">
    <div class="work w3-agileits">



        <ul>
            <li>
                <div class="work-info w3layouts">
                    <h4>B.S.C</h4>
                    <h4>American International University-Bangladesh</h4>
                    <h4>2018-present</h4>
                </div>
                <div class="clearfix"></div>
            </li>

        </ul>
        <br />
        <ul>
            <li>
                <div class="work-info w3layouts">
                    <h4>H.S.C</h4>
                    <h4>Feni Govt. college</h4>
                    <h4>2017-2018</h4>
                </div>
                <div class="clearfix"></div>
            </li>

        </ul>
        <br />
        <ul>
            <li>
                <div class="work-info w3layouts" style="margin-bottom:170px">
                    <h4>S.S.C</h4>
                    <h4>Feni Govt. Girls High School</h4>
                    <h4>2015-2016</h4>
                    <h5>G.P.A</h5>
                    <h6>5.00</h6>
                </div>
                <div class="clearfix"></div>
            </li>

        </ul>
    </div>


</div>

<!-- footer -->
<div class="footer">
    <div class="container">
        <p>© 2022 Resume. All rights reserved | Design by <a href="#">Zerin Zaker</a></p>
    </div>
</div>
<!-- //footer -->
