
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_LayoutPage1.cshtml";
}


<link rel="stylesheet" href="~/css/style.css">

<!-- banner -->
<div class="video" data-vide-bg="video/cv">
    <div class="container">
        <div class="banner-text agileinfo-text">
            <h1>Zerin Zaker</h1>
            <h6>Web Designer & Developer</h6>
            <h6>zerinzaker180@gmail.com</h6>

            <div class="ban-buttons mt-3">
                <a class="btn work scroll" href="#">Education</a>
                <a class="btn work scroll active" href="#">Project</a>
                <a class="btn work scroll active" href="#">Reference</a>
            </div>
        </div>


    </div>
</div>
<script src="~/js/jquery.vide.min.js"></script>
<!-- //banner -->
<!-- footer -->
<div class="footer" style="margin-top:-80px">
    <div class="container">
        <p>© 2022 Resume. All rights reserved | Design by <a href="#">Zerin Zaker</a></p>
    </div>
</div>
<!-- //footer -->