
@{
    ViewBag.Title = "Project";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<link rel="stylesheet" href="~/css/style.css">

<div class="resp-tab-content" style="margin-top:70px">
    <div class="work w3-agileits">
        <h2><b>MY PROJECTS</b></h2>
        <br />



        <ul>
            <li>
                <div class="work-info-one">
                    <h4><b>Web Tech</b></h4>
                    <h4><b>Recycle Management System</b></h4>
                    <img src="~/images/g1.jpg" alt="G">
                </div>
                <div class="clearfix"></div>
            </li>

        </ul>
        <br />
        <ul>
            <li>
                <div class="work-info-one">
                    <h4><b>C Sharp</b></h4>
                    <h4><b>Library Management System</b></h4>
                    <img src="~/images/g2.jpg" alt="G">
                </div>
                <div class="clearfix"></div>
            </li>

        </ul>
        <br />
        <ul>
            <li>
                <div class="work-info-one" style="margin-bottom:40px">
                    <h4><b>JAVA</b></h4>
                    <h4><b>Hotel Management System</b></h4>
                    <img src="~/images/g3.jpg" alt="G">
                </div>
                <div class="clearfix"></div>
            </li>

        </ul>
    </div>


</div>

<!-- footer -->
<div class="footer">
    <div class="container">
        <p>© 2022 Resume. All rights reserved | Design by <a href="#">Zerin Zaker</a></p>
    </div>
</div>
<!-- //footer -->