
@{
    ViewBag.Title = "Reference";
    Layout = "~/Views/_LayoutPage1.cshtml";
}


<link rel="stylesheet" href="~/css/style.css">


<div class="resp-tab-content" style="margin-top:30px">
    <div class="work w3-agileits">

        <h2><b>Reference</b></h2>
        <br />

        <ul>
            <li>
                <div class="work-info w3layouts teacher-info">
                    <img src="~/images/g4.jpg" alt="G">
                    <h4>TANVIR AHMED</h4>
                    <h4>Lecturer , Computer Science</h4>
                    <h4>American International University-Bangladesh</h4>

                </div>
                <div class="clearfix"></div>
            </li>

        </ul>
        <br />
        <ul>
            <li>
                <div class="work-info w3layouts teacher-info">
                    <img src="~/images/g5.jpg" alt="G">
                    <h4>MD. KISHOR MOROL</h4>
                    <h4>Assistant Professor , Computer Science</h4>
                    <h4>American International University-Bangladesh</h4>

                </div>
                <div class="clearfix"></div>
            </li>

        </ul>
        <br />
        <ul>
            <li>
                <div class="work-info w3layouts teacher-info" style="margin-bottom:40px">
                    <img src="~/images/g6.jpg" alt="G">
                    <h4>Dr. Taimur Ahad</h4>
                    <h4>Assistant Professor , Computer Science</h4>
                    <h4>American International University-Bangladesh</h4>

                </div>
                <div class="clearfix"></div>
            </li>

        </ul>
    </div>


</div>

<!-- footer -->
<div class="footer">
    <div class="container">
        <p>© 2022 Resume. All rights reserved | Design by <a href="#">Zerin Zaker</a></p>
    </div>
</div>
<!-- //footer -->